<div>
     {{'product-1' | placeholder_svg_tag:'w-full h-80'}}
     <div class="featured-snippets" >
       <span>Vendor</span>
       <span>placeholder title</span>
       <span>{{ '999' | money }}</span>
     </div>
</div>